@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');
body{
    font-family: 'Inter', sans-serif;
    padding: 0%;
    margin: 0%;
    height: 100vh;
    background: hsl(233, 47%, 7%);
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.main-container{
    width: 80%;
    border-radius: 8px;
    background-color:hsl(244, 38%, 16%);
    display: grid;
}
.img-container{
    background-image:linear-gradient(to bottom, rgba(103, 20, 124, 0.52), rgba(86, 14, 104, 0.52)),
        url(images/image-header-mobile.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 100%;
    height: 550px;
    grid-row: 1;
}
.text-container{
    text-align: center;
    padding: 0px 23px;
   
}

.heading{
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    line-height: 40px;
}
span{
    color: hsl(277, 64%, 61%);
}
.paragraph{
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 17px;
    line-height: 30px;
    font-weight: 400;
}
.num{
    font-size: 30px;
    font-weight: 700;
    color: white;
    margin-bottom: 13px;
}
.name{
    color: hsla(0, 0%, 100%, 0.6);
    text-transform: uppercase;
    margin-top: 0%;
    font-family: 'Lexend Deca', sans-serif;
}
@media (min-width:800px){
    .main-container {
        width: 1100px;
        border-radius: 8px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
       
        
    }
        .img-container {
            background-image: linear-gradient(to bottom, rgba(103, 20, 124, 0.52), rgba(86, 14, 104, 0.52)),
                url(images/image-header-mobile.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border-top-left-radius: 0px;
            border-top-right-radius: 7px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 7px;
            width: 600px;
            height: 560px;
            grid-column: 2;
        }
                .row {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    padding-top: 50px;
                }
                .text-container {
                    grid-template-columns: repeat(2, 1fr);
                    text-align: left;
                    padding: 50px 78px 47px 47px;
                }
        .heading{
            margin-bottom: 36px;
                font-size: 18px;
        }
       
}
